
/*~~~~~~~~~~~~~~~~/
/ Mobile styles  /
/~~~~~~~~~~~~~~~~*/

/* li {
  display: inline;
  padding: 5%;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color :aliceblue;
  /* background: rgb(24,24,24); */
  background: radial-gradient(at 80% 45%, rgba(49,159,193,1) 1%, rgba(24,24,24,1) 99%);
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.wrapper{
  /*This will keep everything where it belongs,*/
  /* even if not everything renders correctly*/
  height:100%;
  width:100%;
  position:absolute;
  justify-content: center;
}


h1 {
  font-size:25pt;
}

h2 {
  font-size:18pt;
}

a {
  color: inherit;
  text-decoration: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Styles for the sidebar*/
.sidebarClass {
  background-color: rgb(24,24,24);
}

.listitemicon {
  color:aliceblue;
}

.drawerlist:before {
  content: "";
  position: absolute;
  left:40px;
  bottom:0;
  height:1px;
  width: 70%;
  border-bottom:1px solid black;
}

#menuclosearrow {
  color:aliceblue;
  font-size:4vh;
}

/* styles for the logo bar*/
#logo {
  color: rgba(49,159,193,1);
  text-align: left;
  font-size: 4vh;
  /* original font choice */
  /* font-family: 'Pacifico', cursive; */ 
  font-family: 'Arizonia', cursive;
  font-weight: bold;
  text-shadow: 2px 1px aliceblue;
  padding: 0px 5px;
}


#logobar {
  /* background-color:rgb(14, 16, 14); */
  background-image:linear-gradient(rgb(35, 35, 35),rgb(0,0,0));
  top: 0px;
  position: sticky;
  height: 8vh;
  padding: 0px 25px;
  width: 99%;
}

#burgerbtn {
  font-size:4vh;
}

#acctbtn {
  font-size: 4vh;
  padding-right: 30px;
}

/*styles for the search */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  display: flex;
  flex-direction: row;
  margin-top: 12vh;
  margin-bottom: 1vh;
  align-items: center;
  gap: 8vw;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
  display: none; /* hiding until next presentation, will be worked on more */
}


.random-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-dropdown > select {
  margin: 0px 5px;
}

/*styles for the video display*/
.video-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  row-gap: 25px;
  column-gap: 0px;
}

.video-card {
  background: rgba(0,0,0, 0.3);
  border-radius: 25px;
  padding: 0px;
  /* width: 320px; */
  /* text-align: center;
  justify-content: center; */
}

.thumbnail {

  /* display: flex;
  justify-content: center; */
}


.video-details {
  padding: 0px 20px 36px 20px;
}

.video-title {
  color: whitesmoke;
  margin-top: -20px;
  margin-bottom: 15px;
  line-height: 1.25;
  font-size: 15px;
  font-weight: 400;
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.channel-title {
  color: lightblue;
  font-size: 14px;
}




/*Styles for WatchVideo */
.player-container {
  background: black;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.video-player {
  width: 100%;
  margin-top: 0px;
}

/* .video-player {
  margin-top: 8vh;
  width: 54vw;   
  height: 30vw; 
} */

.player-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(0,0,0, 0.3);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow:rgba(16,16,16,0.5) 10px 15px 15px;
  padding: 30px;
  height: auto;
  
}

.player-video-title {
  /* border: 1px yellow solid; */
  padding: 0px 25px;
  height: auto;
  border-bottom: 1px rgb(106, 139, 150) solid;
}

.player-video-channel {
  color: lightblue;
  font-size: 14px;
  margin-bottom: 25px;
}

.player-video-description-container {
  padding: 0px 80px;
}

.player-video-description {
  margin-bottom: 32px;
  color: lightgray;
  line-height: 1.5;
  font-size: 14px;
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}





/*Styles for login and sign-up*/
.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
  margin-top: 10%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


}

#accountDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 50px;
  background: rgba(0,0,0, 0.25);
  border-radius: 35px;
}

.account-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* these will need to be simplified and targeted via user-defined classes */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:invalid {
  color: aliceblue;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: aliceblue !important;
}


.MuiTextField-root > .MuiFormLabel-root.Mui-focused{
  color:aliceblue; 
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: aliceblue;
}

.MuiTextField-root label{
  color: aliceblue;
}

.MuiTextField-root p{
  color:rgb(219, 225, 231);
}



#submit-btn {
  background-color:rgba(240,248,255,1);
  margin-bottom:10%;
}




/*~~~~~~~~~~~~~~~~/
/ Desktop styles  /
/~~~~~~~~~~~~~~~~*/
@media screen and (min-width:700px){
  
  /*Styles for the main body*/
  .video-feed {
    margin: 25px 10%;
    column-gap: 48px;
  }
  
  /*Styles for the logobar*/
  #logo {
    font-size:4vh;
  }
  
  #logobar {
    /* background-color:rgb(14, 16, 14); */
    height: 8vh;
    z-index: 1;
  }
  
  #burgerbtn {
    font-size: 4vh;
  }

  
  #acctbtn {
    font-size: 4vh;
  }

  .video-player {
  margin-top: 8vh;
  width: 54vw;   
  height: 30vw; 
}

}