.App {
  text-align: center;
  color: aliceblue;
}
.header {
  background-color: black;
  height: 50px;
}

li {
  display: inline;
  padding: 5%;
}
.logobar {
  background-color: #0D0D0D;
  /* margin-top:-2%; */
  border-bottom:1px #777777 solid;
  top: 0px;
}

.mdc-top-app-bar{
  background-color:black;
}
