body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:aliceblue;
  background: rgb(24,24,24);
background: radial-gradient(circle, rgba(49,159,193,1) 0%, rgba(24,24,24,1) 100%);
}

article{
  margin:5%;
}

a:link {
  color: lightgoldenrodyellow;
}

a:visited {
  color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
